In [1]:
import pandas as pd
import os

In [2]:
df_data = pd.read_csv("../input/patient_priority.csv")
df_data.head(5)

,Unnamed: 0,age,gender,chest pain type,blood pressure,cholesterol,max heart rate,exercise angina,plasma glucose,skin_thickness,insulin,bmi,diabetes_pedigree,hypertension,heart_disease,Residence_type,smoking_status,triage
0,0,40.0,1.0,2.0,140.0,294.0,172.0,0.0,108.0,43.0,92.0,19.0,0.467386,0.0,0.0,Urban,never smoked,yellow
1,1,49.0,0.0,3.0,160.0,180.0,156.0,0.0,75.0,47.0,90.0,18.0,0.467386,0.0,0.0,Urban,never smoked,orange
2,2,37.0,1.0,2.0,130.0,294.0,156.0,0.0,98.0,53.0,102.0,23.0,0.467386,0.0,0.0,Urban,never smoked,yellow
3,3,48.0,0.0,4.0,138.0,214.0,156.0,1.0,72.0,51.0,118.0,18.0,0.467386,0.0,0.0,Urban,never smoked,orange
4,4,54.0,1.0,3.0,150.0,195.0,156.0,0.0,108.0,90.0,83.0,21.0,0.467386,0.0,0.0,Urban,never smoked,yellow

#### Basic description of the dataset

In [3]:
df_data.shape

(6962, 18)

In [4]:
df_data.describe()

,Unnamed: 0,age,gender,chest pain type,blood pressure,cholesterol,max heart rate,exercise angina,plasma glucose,skin_thickness,insulin,bmi,diabetes_pedigree,hypertension,heart_disease
count,6962.000000,6962.000000,6961.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000,6962.000000
mean,2011.954180,57.450014,0.531964,0.529015,109.629991,184.711290,163.502442,0.061764,98.394283,56.813416,111.091640,27.190908,0.467386,0.071531,0.039500
std,1560.966466,11.904948,0.499013,1.253791,21.534852,32.010359,15.458693,0.240743,28.598084,22.889316,17.470033,7.362886,0.102663,0.257729,0.194796
min,0.000000,28.000000,0.000000,0.000000,60.000000,150.000000,138.000000,0.000000,55.120000,21.000000,81.000000,10.300000,0.078000,0.000000,0.000000
25%,604.000000,48.000000,0.000000,0.000000,92.000000,164.000000,150.000000,0.000000,78.707500,36.000000,97.000000,21.800000,0.467386,0.000000,0.000000
50%,1628.500000,56.000000,1.000000,0.000000,111.000000,179.000000,163.000000,0.000000,93.000000,55.000000,111.000000,26.200000,0.467386,0.000000,0.000000
75%,3368.750000,66.000000,1.000000,0.000000,127.000000,192.000000,177.000000,0.000000,111.632500,77.000000,125.000000,31.000000,0.467386,0.000000,0.000000
max,5109.000000,82.000000,1.000000,4.000000,165.000000,294.000000,202.000000,1.000000,199.000000,99.000000,171.000000,66.800000,2.420000,1.000000,1.000000

#### Check for null values

In [5]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6962 entries, 0 to 6961
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6962 non-null   int64
 1   age                6962 non-null   float64
 2   gender             6961 non-null   float64
 3   chest pain type    6962 non-null   float64
 4   blood pressure     6962 non-null   float64
 5   cholesterol        6962 non-null   float64
 6   max heart rate     6962 non-null   float64
 7   exercise angina    6962 non-null   float64
 8   plasma glucose     6962 non-null   float64
 9   skin_thickness     6962 non-null   float64
 10  insulin            6962 non-null   float64
 11  bmi                6962 non-null   float64
 12  diabetes_pedigree  6962 non-null   float64
 13  hypertension       6962 non-null   float64
 14  heart_disease      6962 non-null   float64
 15  Residence_type     6962 non-null   object
 16  smoking_status     6962 non-null   object
 17  triage             6552 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 979.2+ KB

In [6]:
df_data.isnull().sum()

Unnamed: 0             0
age                    0
gender                 1
chest pain type        0
blood pressure         0
cholesterol            0
max heart rate         0
exercise angina        0
plasma glucose         0
skin_thickness         0
insulin                0
bmi                    0
diabetes_pedigree      0
hypertension           0
heart_disease          0
Residence_type         0
smoking_status         0
triage               410
dtype: int64

In [7]:
df_data = df_data.dropna() # eliminar la fila que tiene valores vacios en genero y triage

#### Check for duplicate rows

In [8]:
duplicate = df_data.duplicated()
print(f"Total duplicate rows: {duplicate.sum()}")

Total duplicate rows: 0

#### View data types

In [9]:
df_data.dtypes

Unnamed: 0             int64
age                  float64
gender               float64
chest pain type      float64
blood pressure       float64
cholesterol          float64
max heart rate       float64
exercise angina      float64
plasma glucose       float64
skin_thickness       float64
insulin              float64
bmi                  float64
diabetes_pedigree    float64
hypertension         float64
heart_disease        float64
Residence_type        object
smoking_status        object
triage                object
dtype: object

In [10]:
cols_to_int = ['age', 'gender', 'chest pain type', 'exercise angina', 'hypertension', 'heart_disease']

# Convertir las columnas a tipo int
df_data[cols_to_int] = df_data[cols_to_int].astype(int)

In [11]:
df_data.dtypes

Unnamed: 0             int64
age                    int64
gender                 int64
chest pain type        int64
blood pressure       float64
cholesterol          float64
max heart rate       float64
exercise angina        int64
plasma glucose       float64
skin_thickness       float64
insulin              float64
bmi                  float64
diabetes_pedigree    float64
hypertension           int64
heart_disease          int64
Residence_type        object
smoking_status        object
triage                object
dtype: object

In [12]:
df_data["Residence_type"].value_counts()

Urban    4187
Rural    2364
Name: Residence_type, dtype: int64

In [13]:
df_data["smoking_status"].value_counts()

never smoked       3543
Unknown            1386
formerly smoked     853
smokes              769
Name: smoking_status, dtype: int64

#### Change column values ​​to numeric values

In [14]:
df_encoded = pd.get_dummies(df_data, columns=['Residence_type', 'smoking_status'])

# Convertir solo las columnas generadas por one-hot encoding a int
one_hot_columns = [col for col in df_encoded.columns if col.startswith('Residence_type_') or col.startswith('smoking_status_')]
df_encoded[one_hot_columns] = df_encoded[one_hot_columns].astype(int)

#### Undersampling to balance the dataset

In [15]:
df_encoded["triage"].value_counts()

yellow    5636
green      440
orange     346
red        129
Name: triage, dtype: int64

In [ ]:
min_size = df_encoded["triage"].value_counts().min()

undersampled_df = (
    df_encoded.groupby("triage")
    .apply(lambda x: x.sample(min_size, random_state=42))  # Selecciona aleatoriamente
    .reset_index(drop=True)
)

In [17]:
undersampled_df["triage"].value_counts()

green     129
orange    129
red       129
yellow    129
Name: triage, dtype: int64

In [18]:
#df_encoded = undersampled_df

#### Save dataset and response column

In [19]:
df_labels = df_encoded[["Unnamed: 0", "triage"]]
df_labels = df_labels.rename(columns={"Unnamed: 0": "id"})

df_encoded = df_encoded.drop(["Unnamed: 0", "triage"], axis=1)

In [20]:
os.makedirs("../results/preprocessing/", exist_ok=True)
df_labels.to_csv("../results/preprocessing/labels.csv", index=False)
df_encoded.to_csv("../results/preprocessing/01_dataset_preprocessing.csv", index=False)